#target-board{
    margin-right: auto;
    margin-left: auto;
}

#puzzle-pieces{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#interactive-zone{
    margin-left: auto;
    margin-right: auto;
}



